{% extends "base.html" %}
{% block content %}
<h1>Signup</h1>

<p>Signing up online helps us get a head count, but do feel free to just show
up or to show up with more people than you plan for. We will be able to process
credit cards at the party using paypal.</p>

{%if error %}
    <p class="error">
    {{ error }}
    </p>
{% endif %}
<style>
form p {
    padding-top: 1em;
    margin-top: 1em;
}
</style>
<form action="/fr/signup" method="post">
    {{ form.as_p }}
    <input type="submit" value="Sign Up!" />
</form>
{% endblock %}
